@model QLBanVePhim.Models.LoaiPhim

@using (Html.BeginForm("Create", "LoaiPhim", FormMethod.Post))
{ 
    <div class="table-toolbar">
         <div><span style="float:left">Tên Loại Phim:</span> @Html.TextBoxFor(model => model.TenLoai, new { @class = "form-control", @style = "width:200px; float:left" }) <button type="submit" id="sample_editable_1_new" class="btn green">Thêm Mới <i class="fa fa-plus"></i></button></div>
    </div>
}